<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXOkcCL7MteVSBUlWPVDAjmrZmPj1WyQc</string>
	<key>GCM_SENDER_ID</key>
	<string>258461153372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-ad767</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-ad767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258461153372:ios:29e8a9ebd238e67c914e99</string>
</dict>
</plist>